services:
  # 1. Backend: Django (Python 3.12)
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      
    ports:
      - "8000:8000"
    
    env_file:
      - backend/.env

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - WATCHPACK_POLLING=true
    depends_on:
      - backend

    env_file:
      - frontend/.env
